@charset "utf-8";
/* CSS Document */

.nav
{
	background: #AA9D9D;
}

.navbar 
{
	background: #B2D3E6;
	
}


.nav-link
{
	color: black;
	
	
	
}
.nav-item
{
	margin-left: 40px;
}
.site_logo{
	
	width: 100% !important;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	
}

.table-striped
{
	margin: auto;
	width: 50% !important;
	font-family: "Times New Roman", Times, serif;
	font-weight: 900;
	
}

.carousel-inner
{
	width:auto;
  	max-height: 550px !important;
}
.carousel-item img{
height:550px;
width: auto;
	
}
.descriptionText{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: 900;
	
	
}


