@charset "utf-8";
/* CSS Document */

.nav
{
	background: #AA9D9D;
}

.navbar 
{
	background: #B2D3E6;
	
}


.nav-link
{
	color: black;
	
	
	
}
.nav-item
{
	margin-left: 40px;
}
.site_logo{
	
	width: 100% !important;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	
}

.table
{
	margin: auto;
	width: 50% !importan;
}

.carousel-inner
{
	  width:100%;
  max-height: 500px !important;
}
.carousel-item img{
	
}

